@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 20 14.3% 4.1%;
        --card: 0 0% 100%;
        --card-foreground: 20 14.3% 4.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 20 14.3% 4.1%;
        --primary: 240 100% 50%;
        --primary-foreground: 60 9.1% 97.8%;
        --secondary: 60 4.8% 95.9%;
        --secondary-foreground: 24 9.8% 10%;
        --muted: 60 4.8% 95.9%;
        --muted-foreground: 25 5.3% 44.7%;
        --accent: 60 4.8% 95.9%;
        --accent-foreground: 24 9.8% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 20 5.9% 90%;
        --input: 20 5.9% 90%;
        --ring: 240 100% 50%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 20 14.3% 4.1%;
        --foreground: 60 9.1% 97.8%;
        --card: 20 14.3% 4.1%;
        --card-foreground: 60 9.1% 97.8%;
        --popover: 20 14.3% 4.1%;
        --popover-foreground: 60 9.1% 97.8%;
        --primary: 20.5 90.2% 48.2%;
        --primary-foreground: 60 9.1% 97.8%;
        --secondary: 12 6.5% 15.1%;
        --secondary-foreground: 60 9.1% 97.8%;
        --muted: 12 6.5% 15.1%;
        --muted-foreground: 24 5.4% 63.9%;
        --accent: 12 6.5% 15.1%;
        --accent-foreground: 60 9.1% 97.8%;
        --destructive: 0 72.2% 50.6%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 12 6.5% 15.1%;
        --input: 12 6.5% 15.1%;
        --ring: 20.5 90.2% 48.2%;
    }
}

@layer base {
    * {
        @apply scroll-smooth border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    .max-container {
        @apply mx-auto w-[1240px] max-w-full px-4;
    }

    h1 {
        @apply select-none text-4xl font-extrabold tracking-tight lg:text-5xl;
    }

    h2 {
        @apply text-3xl font-semibold tracking-tight
    }

    h3 {
        @apply text-[18px] font-bold leading-[28px] md:text-2xl
    }

    h4 {
        @apply select-none text-xl font-semibold tracking-tight;
    }

    p {
        @apply leading-snug tracking-normal font-normal
    }

    label {
        @apply text-sm font-medium leading-none
    }

    label>span {
        @apply select-none font-normal leading-[20px] text-destructive;
    }

    .text-12 {
        @apply text-[12px] leading-[16px];
    }

    .text-14 {
        @apply text-[14px] leading-[20px];
    }

    .text-15 {
        @apply text-[15px] leading-[20px];
    }

    .text-16 {
        @apply text-[16px] leading-[24px];
    }

    .text-18 {
        @apply text-[18px] leading-[22px];
    }

    .text-20 {
        @apply text-[20px] leading-[24px];
    }

    .text-24 {
        @apply text-[24px] leading-[30px];
    }

    .text-26 {
        @apply text-[26px] leading-[32px];
    }

    .text-30 {
        @apply text-[30px] leading-[38px];
    }

    .text-36 {
        @apply text-[36px] leading-[44px];
    }

    .flex-center{
        @apply flex items-center justify-center;
    }
}

.top-cal {
    top: calc(-0px + 100dvh);
}

.loader {
    background-color: grey;
    text-align: center;
    border-radius: 12px;
    padding: 6px;
}

.placeholder-item {
    position: relative;
    overflow: hidden;
}

.placeholder-item::before {
    content: '';
    z-index: 9999;
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 50px;
    background-image: linear-gradient(to right, rgba(144, 144, 144, 0), rgb(224, 231, 233));
    animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes load {
    from {
        left: -150px;
    }

    to {
        left: 100%;
    }
}

td button[disabled] {
    cursor: not-allowed !important;
    text-decoration: line-through !important;
}

.rdrDefinedRangesWrapper {
    display: none;
}

.custom-shadow {
    box-shadow: 0 0px 8px 0px rgb(0 0 0 / 0.1);
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 40px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side, #ffffff94 90%, #dcdcdc00);
    background:
        var(--_g) 0% 50%,
        var(--_g) 50% 50%,
        var(--_g) 100% 50%;
    background-size: calc(100% / 3) 50%;
    animation: l3 1s infinite linear;
}

@keyframes l3 {
    20% {
        background-position:
            0% 0%,
            50% 50%,
            100% 50%;
    }

    40% {
        background-position:
            0% 100%,
            50% 0%,
            100% 50%;
    }

    60% {
        background-position:
            0% 50%,
            50% 100%,
            100% 0%;
    }

    80% {
        background-position:
            0% 50%,
            50% 50%,
            100% 100%;
    }
}

.skeleton {
    background: linear-gradient(270deg, #d2d2d2, #eaeaea, #eaeaea, #fafafa);
    background-size: 400% 100%;
    animation: skeleton_loading 8s ease-in-out infinite;
}

@keyframes skeleton_loading {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

.search-suggestion {
    z-index: 999 !important;
}

#pdf-controls {
    display: none;
}

.ePSHhz {
    overflow: auto !important;
}

/* Hide arrows in Chrome, Safari, Edge, Opera */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide arrows in Firefox */
.no-spinner {
    -moz-appearance: textfield;
}